<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{206,169}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{233,160},{206,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{266,157}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,165}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{539,1},{250,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{230,169}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{1,160},{230,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{206,169}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{233,160},{206,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{230,169}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{1,160},{230,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,165}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{539,1},{250,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{266,157}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{268,151}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{269,1},{268,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{258,143}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{441,168},{258,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{246,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{701,187},{246,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{258,143}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{441,168},{258,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{268,151}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{269,1},{268,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bzl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{184,159}</string>
                <key>spriteSourceSize</key>
                <string>{270,177}</string>
                <key>textureRect</key>
                <string>{{791,1},{184,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{951,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17b9bfa916e8f802a37253d916f55e17:10ccff821225ed24736fed6c0d395de6:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
