<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{844,1},{93,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{195,1},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{664,1},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{385,1},{91,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{755,1},{87,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{478,1},{91,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1034,1},{91,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,99}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1127,1},{93,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{939,1},{93,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1412,1},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,99}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1222,1},{93,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,99}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1317,1},{93,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{290,1},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{571,1},{91,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{98,1},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gadflyFlySprite.png</string>
            <key>size</key>
            <string>{1506,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bef6cf099a0e05175e92e1dc42bacb66:fb6c42a8beba4e01cd9b26a59b7db97a:61b19bb0782b0da64ee5d30b39b9d301$</string>
            <key>textureFileName</key>
            <string>gadflyFlySprite.png</string>
        </dict>
    </dict>
</plist>
