<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{95,1},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,72},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{95,72},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,143},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{109,143},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,214},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{109,214},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,285},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{109,285},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,356},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{109,356},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>climb.png</string>
            <key>size</key>
            <string>{202,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a89991b206a8d43fcf30c4d6cb117a6:66266504701414ef21f2318cae5b8f09:63cd68e0b7be2ac2dbfc1e63f90843ea$</string>
            <key>textureFileName</key>
            <string>climb.png</string>
        </dict>
    </dict>
</plist>
