<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,214},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,281},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,72},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,214},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,72},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,281},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,348},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,143},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,415},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,143},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,348},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sameSideRight.png</string>
            <key>size</key>
            <string>{108,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6285d9e10134cf7c9b349964174bc185:c696d6be6d6d7d8218746763d6339e75:2db6e39b09420dc49b70fbd800e047a4$</string>
            <key>textureFileName</key>
            <string>sameSideRight.png</string>
        </dict>
    </dict>
</plist>
