<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,427},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,494},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,72},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,561},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,143},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,628},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,214},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,695},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,285},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,762},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,356},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1,829},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slowWalk.png</string>
            <key>size</key>
            <string>{108,895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeae27e4a1c9174ae120e4d67943a8f1:7602f73844e0036abd1a99661dbb4268:f25d51faf20e0bd93b1cf3860271d8e0$</string>
            <key>textureFileName</key>
            <string>slowWalk.png</string>
        </dict>
    </dict>
</plist>
