<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{263,216}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{526,219},{263,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,202}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{337,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{319,210}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{340,1},{319,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{293,216}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{661,1},{293,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{263,216}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{526,219},{263,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{293,216}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{661,1},{293,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{319,210}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{340,1},{319,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,202}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{337,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{343,192}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,205},{343,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{329,182}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{195,213},{329,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{313,176}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{791,219},{313,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{329,182}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{195,213},{329,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{343,192}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,205},{343,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bzl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{235,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{195,397},{235,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{968,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13ddc04692fe3f3c87f9880716139ca8:10ccff821225ed24736fed6c0d395de6:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
