<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,649},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{329,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{329,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,851},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{329,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,217},{329,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,649},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{329,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,217},{329,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,851},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{329,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{329,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,1053},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{329,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,433},{329,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,1255},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{329,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,433},{329,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{345,226}</string>
                <key>textureRect</key>
                <string>{{1,1053},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sameSideRight.png</string>
            <key>size</key>
            <string>{331,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eaa3701f781fe1cb4e73e299b1d2f2a:c696d6be6d6d7d8218746763d6339e75:2db6e39b09420dc49b70fbd800e047a4$</string>
            <key>textureFileName</key>
            <string>sameSideRight.png</string>
        </dict>
    </dict>
</plist>
