<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{456,1},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{453,308}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{453,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{456,285},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{453,306}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,931},{453,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{456,569},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{453,308}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,311},{453,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{456,853},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{453,306}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,1239},{453,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{456,1137},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{453,308}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,621},{453,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{456,1421},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{453,306}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,1547},{453,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{456,1705},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fastWalk.png</string>
            <key>size</key>
            <string>{904,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1eec793439a9f7cb557925ad3d18579:20ad6819e0cd72f15392232d6bdc43b6:793383887aeb02ae45ea0d2958a6e76f$</string>
            <key>textureFileName</key>
            <string>fastWalk.png</string>
        </dict>
    </dict>
</plist>
