<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{367,302}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,813},{367,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{473,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,529},{473,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{447,294}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{476,541},{447,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{411,302}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{370,837},{411,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{367,302}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,813},{367,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{411,302}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{370,837},{411,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{447,294}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{476,541},{447,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{473,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,529},{473,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{479,270}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,257},{479,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{463,254}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{444,1},{463,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{441,248}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{441,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{463,254}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{444,1},{463,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{479,270}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,257},{479,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bzl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{329,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{482,257},{329,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{924,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8317298921e7c0f4fb819db6ba9855ce:10ccff821225ed24736fed6c0d395de6:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
