<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{464,909},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{461,302}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{461,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,911},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{461,300}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{464,305},{461,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{450,1193},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{461,302}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{464,1},{461,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,1195},{447,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{461,300}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{464,607},{461,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,1479},{447,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{461,302}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,305},{461,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{285,1479},{447,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{461,300}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{1,609},{461,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{447,282}</string>
                <key>spriteSourceSize</key>
                <string>{485,318}</string>
                <key>textureRect</key>
                <string>{{569,1477},{447,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slowWalk.png</string>
            <key>size</key>
            <string>{926,1927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6535e1d2d66506ae5ce5f128d82eaeac:7602f73844e0036abd1a99661dbb4268:f25d51faf20e0bd93b1cf3860271d8e0$</string>
            <key>textureFileName</key>
            <string>slowWalk.png</string>
        </dict>
    </dict>
</plist>
