<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{155,95}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,150},{155,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{155,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{160,1},{155,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>catch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{155,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,534},{155,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{155,95}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,247},{155,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{155,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,625},{155,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{153,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{158,694},{153,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{111,69}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,1090},{111,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{141,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,888},{141,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{139,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{158,849},{139,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{157,147}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{91,129}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{158,470},{91,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{111,139}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,977},{111,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{103,121}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{142,990},{103,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{158,601},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{155,95}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,150},{155,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{155,85}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,714},{155,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{153,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{158,694},{153,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{155,93}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,344},{155,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{155,91}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{158,158},{155,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{155,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{160,1},{155,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{155,85}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,801},{155,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{155,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,534},{155,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{155,93}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,439},{155,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{155,95}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,247},{155,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{153,91}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{158,315},{153,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{155,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,625},{155,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonfly.png</string>
            <key>size</key>
            <string>{250,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f94e792cf845e543cd4807f51ef7e33:17657151b16e324a4c517d7cc80d7371:3aee34b808f74b01b95fdc0c0749f397$</string>
            <key>textureFileName</key>
            <string>dragonfly.png</string>
        </dict>
    </dict>
</plist>
