<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{119,99}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,249},{119,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{251,1},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{119,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{368,1},{119,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{113,107}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{136,1},{113,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{119,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{368,100},{119,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,350},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{115,101}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{251,106},{115,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{127,115}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,132},{127,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-10}</string>
                <key>spriteSize</key>
                <string>{97,89}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{346,393},{97,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{133,129}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{79,109}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{247,308},{79,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{95,119}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{368,199},{95,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{239,389},{89,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{118,409},{77,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{119,99}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,249},{119,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{251,209},{115,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,350},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{130,211},{115,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{122,310},{115,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{251,1},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{115,95}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{368,296},{115,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{119,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{368,1},{119,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{113,99}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{136,110},{113,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{113,107}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{136,1},{113,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{115,95}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{368,296},{115,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{119,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{368,100},{119,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bumblebee.png</string>
            <key>size</key>
            <string>{488,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d679cf5233979c9bf5cfeb7458b0e005:609dad655a6b048434a5390a43a3c30a:514f433cd0d0c0a255396eb479eddefe$</string>
            <key>textureFileName</key>
            <string>bumblebee.png</string>
        </dict>
    </dict>
</plist>
