<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,149}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{160,134},{137,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{307,277},{139,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{466,277},{139,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,155}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{160,1},{131,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,155}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{468,1},{135,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{135,155}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{625,1},{135,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,149}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{317,1},{133,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,147}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{311,136},{137,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{137,149}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{460,138},{137,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,145}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{611,138},{137,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,147}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{758,138},{137,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,147}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,269},{137,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,155}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{150,273},{137,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1,132},{135,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{625,277},{139,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gadflyFlySprite.png</string>
            <key>size</key>
            <string>{906,417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ce35f26db93fe06057b6d50663a01ff:fb6c42a8beba4e01cd9b26a59b7db97a:61b19bb0782b0da64ee5d30b39b9d301$</string>
            <key>textureFileName</key>
            <string>gadflyFlySprite.png</string>
        </dict>
    </dict>
</plist>
