<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,359},{184,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{217,1105},{188,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,212}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,1291},{188,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,210}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{215,1},{176,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,210}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{205,179},{182,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,212}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,210}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{203,363},{182,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,202}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,177},{180,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,545},{184,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{203,547},{184,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,194}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,917},{186,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,198}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,731},{184,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{201,733},{184,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,210}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{197,919},{184,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1,1105},{184,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{215,1295},{188,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robberflyFlySprite.png</string>
            <key>size</key>
            <string>{432,1484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bd814dc9980ec265925cf6cc1a94bb6:da7207d06d6998eae1f1b8ef2da25de7:166f1693636c12702256fe88ce72092c$</string>
            <key>textureFileName</key>
            <string>robberflyFlySprite.png</string>
        </dict>
    </dict>
</plist>
