<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{138,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1031,1},{138,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{178,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{183,1},{178,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{539,1},{168,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{875,1},{154,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{138,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1031,1},{138,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{875,1},{154,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{539,1},{168,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{178,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{183,1},{178,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{180,102}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{174,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{363,1},{174,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{164,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{709,1},{164,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{174,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{363,1},{174,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{180,102}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bzl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1171,1},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{1296,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6e492ce8b3ed4acf8718e42f1f31ecf:10ccff821225ed24736fed6c0d395de6:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
