<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,349},{168,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{174,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,457},{168,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{174,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,117},{174,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,349},{168,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{174,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,117},{174,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,457},{168,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{174,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,565},{168,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{174,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,233},{174,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,673},{168,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{174,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,233},{174,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{1,565},{168,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sameSideLeft.png</string>
            <key>size</key>
            <string>{176,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41d9f60d1337e59667704f3ead44837:c1f5d496e174ff502675fa2242825ba5:33757ed718167fd480fef189edfaba15$</string>
            <key>textureFileName</key>
            <string>sameSideLeft.png</string>
        </dict>
    </dict>
</plist>
