<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{233,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{204,1},{233,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{439,1},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{233,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{642,1},{233,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{233,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,152},{233,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{236,152},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{233,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{439,152},{233,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{674,152},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{233,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,303},{233,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{236,303},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{233,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{439,303},{233,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{674,303},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>climb.png</string>
            <key>size</key>
            <string>{876,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da6cf08d5e135cc806c621e769295188:66266504701414ef21f2318cae5b8f09:63cd68e0b7be2ac2dbfc1e63f90843ea$</string>
            <key>textureFileName</key>
            <string>climb.png</string>
        </dict>
    </dict>
</plist>
