<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{185,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1379,1},{185,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{239,143}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{244,1},{239,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{720,1},{225,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{207,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1170,1},{207,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{185,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1379,1},{185,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{207,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1170,1},{207,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{720,1},{225,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{239,143}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{244,1},{239,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{241,137}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{233,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{485,1},{233,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{221,125}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{947,1},{221,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{233,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{485,1},{233,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{241,137}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bzl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,143}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1566,1},{167,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{1734,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a30f421780870f2a53160c2c22f59e1c:10ccff821225ed24736fed6c0d395de6:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
