<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{201,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,303},{201,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{196,1},{193,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{391,1},{193,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{197,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{586,1},{197,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{197,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{785,1},{197,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,152},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{201,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{204,303},{201,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{204,152},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{201,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{407,303},{201,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{407,152},{201,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{201,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{610,303},{201,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{197,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{610,152},{197,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{197,149}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{809,152},{197,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knit.png</string>
            <key>size</key>
            <string>{1007,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2121c23eba6c0a0ea5f1d8b7f6c2f802:e54f2e7de53ac7801ab4aaf1e25c9a56:441f2710701e2186b6b171567df9d81a$</string>
            <key>textureFileName</key>
            <string>knit.png</string>
        </dict>
    </dict>
</plist>
