<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,919},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{233,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1062},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{233,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,154},{233,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1205},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{233,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,307},{233,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1348},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{233,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,460},{233,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1491},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{233,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,613},{233,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1634},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{233,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,766},{233,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1777},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slowWalk.png</string>
            <key>size</key>
            <string>{235,1919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc5d5191a7ac9cf137a98d79d57b831a:7602f73844e0036abd1a99661dbb4268:f25d51faf20e0bd93b1cf3860271d8e0$</string>
            <key>textureFileName</key>
            <string>slowWalk.png</string>
        </dict>
    </dict>
</plist>
