<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,144},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{225,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,159}</string>
                <key>textureRect</key>
                <string>{{1,287},{225,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{227,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:738c6f1a25b61099b91765429fabb57b:4a1e274e3b4b290f3bfb43192a80138f:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
