<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{943,1},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{155,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1080,1},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{155,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{158,1},{155,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{155,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{315,1},{155,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1217,1},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{155,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{472,1},{155,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1354,1},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{155,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{629,1},{155,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1491,1},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{155,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{786,1},{155,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1628,1},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>climb.png</string>
            <key>size</key>
            <string>{1764,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3fbe915c934dcaaa54a1d5af93c223:66266504701414ef21f2318cae5b8f09:63cd68e0b7be2ac2dbfc1e63f90843ea$</string>
            <key>textureFileName</key>
            <string>climb.png</string>
        </dict>
    </dict>
</plist>
