<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{811,1},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{926,1},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{136,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{271,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1041,1},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{406,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1156,1},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{541,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1271,1},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{676,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1386,1},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>climb2.png</string>
            <key>size</key>
            <string>{1500,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac1d3f06507cb94676f9e2bbe07e34cb:b20e478bf8317b874398def87c070b34:98f9b1b6d6b4036e4d68485aa3bd2dc7$</string>
            <key>textureFileName</key>
            <string>climb2.png</string>
        </dict>
    </dict>
</plist>
