<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{135,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{819,1},{129,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{682,103},{129,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{813,103},{129,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{412,105},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{547,105},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{1,105},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{135,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{138,1},{135,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{138,105},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{135,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{275,1},{135,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{275,105},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{135,102}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{412,1},{135,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{549,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,106}</string>
                <key>textureRect</key>
                <string>{{684,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knit.png</string>
            <key>size</key>
            <string>{949,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f6d88bdd2cdb909cee1ac93553b5606:e54f2e7de53ac7801ab4aaf1e25c9a56:441f2710701e2186b6b171567df9d81a$</string>
            <key>textureFileName</key>
            <string>knit.png</string>
        </dict>
    </dict>
</plist>
