<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,195}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{210,532},{179,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,207}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,186},{181,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,205}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,548},{183,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,203}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{210,359},{171,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{177,205}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{208,713},{177,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,205}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,733},{167,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,203}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{210,182},{175,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,195}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,902},{175,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,193}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,1260},{177,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,195}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{208,892},{177,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{196,1252},{179,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,193}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{198,1071},{179,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,193}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,1079},{179,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,203}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{210,1},{179,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,207}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,369},{177,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,207}</string>
                <key>spriteSourceSize</key>
                <string>{207,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonflyFlySprite.png</string>
            <key>size</key>
            <string>{414,1438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c54560fe014f89a03c349ddb5cdb170:a20d8b7eecc2c66e507c475392343437:85d5d9b662b1061481fe6b0950673cbd$</string>
            <key>textureFileName</key>
            <string>dragonflyFlySprite.png</string>
        </dict>
    </dict>
</plist>
