<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{194,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{257,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{509,1},{63,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>catch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{74,1},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{320,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{558,1},{63,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{192,74},{43,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{129,74},{53,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{55,59}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{428,72},{55,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{47,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{489,72},{47,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{55,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{137,1},{55,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1,74},{53,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{43,45}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{558,66},{43,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{383,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{61,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{66,74},{61,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{558,1},{63,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{302,72},{61,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{194,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{257,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{365,72},{61,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{509,1},{63,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{63,55}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{237,72},{63,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{446,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{74,1},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{320,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crane.png</string>
            <key>size</key>
            <string>{604,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4449a839658887844979e43951f7075b:a2356efe8a6909e853c4778bcf84fd5c:c4f8a4aa3dbda05b471ef7f8eec92930$</string>
            <key>textureFileName</key>
            <string>crane.png</string>
        </dict>
    </dict>
</plist>
