<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{843,1},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{87,1},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{595,1},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{259,1},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{677,1},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{343,1},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{927,1},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1011,1},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1095,1},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1263,1},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1179,1},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{757,1},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{427,1},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{511,1},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{173,1},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gadflyFlySprite.png</string>
            <key>size</key>
            <string>{1348,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7d41da477da95143b413fd0b84691f1:fb6c42a8beba4e01cd9b26a59b7db97a:61b19bb0782b0da64ee5d30b39b9d301$</string>
            <key>textureFileName</key>
            <string>gadflyFlySprite.png</string>
        </dict>
    </dict>
</plist>
