<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,264}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{735,547},{242,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,282}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{1,285},{246,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,280}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{245,569},{248,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,278}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{479,281},{232,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,278}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{251,1},{240,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,280}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{249,285},{228,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,276}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{495,561},{238,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,266}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{713,279},{238,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{242,264}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{953,267},{242,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,264}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{985,1},{242,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{979,533},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,262}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{1197,267},{242,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,264}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{739,1},{244,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{244,276}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{493,1},{244,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,282}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{1,569},{242,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,282}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gadflyFlySprite.png</string>
            <key>size</key>
            <string>{1440,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa97da49a8c0266054e5d791d42881b:fb6c42a8beba4e01cd9b26a59b7db97a:61b19bb0782b0da64ee5d30b39b9d301$</string>
            <key>textureFileName</key>
            <string>gadflyFlySprite.png</string>
        </dict>
    </dict>
</plist>
