<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{172,184}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,743},{172,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>catch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{172,182}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,1081},{172,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>catch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{192,178}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{195,363},{192,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{194,180}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{205,1},{194,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{172,184}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{187,907},{172,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>catch6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{172,180}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{185,1081},{172,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{401,1},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{381,543},{122,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{367,1081},{124,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{202,192}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{158,118}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{381,675},{158,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{178,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,917},{178,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{152,130}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{373,907},{152,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{389,363},{116,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{172,184}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,743},{172,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{194,178}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{205,183},{194,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,195},{192,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{188,184}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,377},{188,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{172,182}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,1081},{172,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{188,178}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,563},{188,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{192,178}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{195,363},{192,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{194,180}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{205,1},{194,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{188,182}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{191,543},{188,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{172,184}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{187,907},{172,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{172,180}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{185,1081},{172,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{188,178}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{191,727},{188,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>glowworm.png</string>
            <key>size</key>
            <string>{504,1254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f287fc18c1bb8fe705796f0c76a2ea8e:f0f01877516039582a4c92cb572830a7:00f7fef1b62d953913ac9741d9d4df04$</string>
            <key>textureFileName</key>
            <string>glowworm.png</string>
        </dict>
    </dict>
</plist>
