<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{235,207}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{260,1343},{235,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{279,191}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,399},{279,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{233,193}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{276,943},{233,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{279,205}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,192},{279,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-21}</string>
                <key>spriteSize</key>
                <string>{233,189}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{260,1552},{233,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catch6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{277,195}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,592},{277,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,173}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{282,248},{215,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,211}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{282,423},{261,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-45}</string>
                <key>spriteSize</key>
                <string>{113,135}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{258,1916},{113,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-60}</string>
                <key>spriteSize</key>
                <string>{281,189}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-12}</string>
                <key>spriteSize</key>
                <string>{203,247}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{260,1138},{203,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-15}</string>
                <key>spriteSize</key>
                <string>{247,273}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,789},{247,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-12}</string>
                <key>spriteSize</key>
                <string>{225,245}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{284,1},{225,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-17}</string>
                <key>spriteSize</key>
                <string>{173,171}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{258,1743},{173,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{235,207}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{260,1343},{235,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-25}</string>
                <key>spriteSize</key>
                <string>{255,187}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,1822},{255,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{277,195}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,592},{277,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{255,207}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{280,686},{255,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{257,199}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,1038},{257,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{279,191}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,399},{279,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-27}</string>
                <key>spriteSize</key>
                <string>{257,181}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,1436},{257,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{233,193}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{276,943},{233,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{255,201}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,1619},{255,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{279,205}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,192},{279,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{257,195}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{1,1239},{257,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-21}</string>
                <key>spriteSize</key>
                <string>{233,189}</string>
                <key>spriteSourceSize</key>
                <string>{313,313}</string>
                <key>textureRect</key>
                <string>{{260,1552},{233,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robberfly.png</string>
            <key>size</key>
            <string>{510,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5dc2be36da91c60f3d1d6f896179840:4e16ebd743999edf898ac355250abec0:b441344b0bfa6b44f719d659067b6771$</string>
            <key>textureFileName</key>
            <string>robberfly.png</string>
        </dict>
    </dict>
</plist>
